.LogoDota {
    width: 75px;
}

body {
    color: white;
    background-color: #171a17;
    
}

.reward-btn {
    width: 140px;
    height: 40px;
    background-color: #101218;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 10px;
}
  .IconContainer {
    width: 40px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
  .IconContainer svg {
    width: 40%;
    z-index: 3;
}
  .box-top {
    transition: all 0.3s;
}
  .text {
    width: 90px;
    height: 100%;
    font-size: 20px;
    color: #6a8ef6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
}
  .reward-btn:hover .IconContainer .box-top {
    transform: rotate(-45deg) translateY(-5px) translateX(-1px);
}
  .reward-btn:hover {
    background-color: #202531;
}
  .reward-btn:hover .coin {
    transform: translateY(-5px);
    transition-delay: 0.2s;
}
  .coin {
    width: 25%;
    height: 25%;
    background-color: #e4d61a;
    position: absolute;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: 1;
    border: 2px solid #ffe956;
    margin-top: 4px;
}
  
  .carousel {
    margin-top: 40px;
}



ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  .example-2 .icon-content a[data-social="discord"] .filled,
  .example-2 .icon-content a[data-social="discord"] ~ .tooltip {
    background-color: #4367df;
  }
  .example-2 .icon-content a[data-social="steam"] .filled,
  .example-2 .icon-content a[data-social="steam"] ~ .tooltip {
    background-color: #000000;
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
  .example-2 .icon-content a[data-social="telegram"] .filled,
  .example-2 .icon-content a[data-social="telegram"] ~ .tooltip {
    background-color: #0088cc;
  }

footer {
    background-color: #0c0d0c;
    margin-top: 100px;
    height: 100px;
}

.example-2 {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}

.Cards {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.card {
    margin-top: 30px;
    width: 200px;
    height: 340px;
    padding: .8em;
    background: #000000;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-image: url('https://i.pinimg.com/736x/0d/23/b6/0d23b655617ae0f99abe30e04d99a9f8.jpg');
    background-position: 48% 57%; 
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    color: white;
   }
   
   .text-body2 {
    font-size: .9em;
    padding-bottom: 10px;
    color: white;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #ffffff;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
    background-color: white;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(49, 49, 49, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }

 .card-img2 {
  background-image: url('https://cdn.akamai.steamstatic.com/apps/dota2/images/acolyteofthelostarts/kid-invoker-keyart.png');
  background-position: 51% 42%; 
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
 }

 .card-button2 {
  border: 1px solid #ffffff;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
  background-color: white;
 }

 .card-img2:hover {
  transform: translateY(-25%);
  box-shadow: rgba(49, 49, 49, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .card-button2:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
 }

 
 .card-img3 {
  background-image: url('https://cdna.artstation.com/p/assets/images/images/044/268/756/large/boyang-zhu-drow-promo-updated-color-change.jpg?1639536571');
  background-position: 25% 26%; 
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
 }

 .card-button3 {
  border: 1px solid #ffffff;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
  background-color: white;
 }

 .card-img3:hover {
  transform: translateY(-25%);
  box-shadow: rgba(49, 49, 49, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .card-button3:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

.TOP {
  margin-top: 80px;
  padding-top: 40px;
  border-top: 2px solid rgb(59, 59, 59);
  border-bottom: 2px solid rgb(59, 59, 59);
  padding-bottom: 40px;
  background-color: #2c2c2c;
  background-size: 100% 100%;
  width: 100%; /* Добавьте это свойство */
}



h3 {
  text-align: center;
}

 .card-img4 {
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/1693898969596619218/5A3C3A59F3A2B5D9425E08EB5668DED1EF96CD3D/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true');
  background-position: 54.5% 27%; 
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
}

 .card-button4 {
  border: 1px solid #ffffff;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
  background-color: white;
}

 .card-img4:hover {
  transform: translateY(-25%);
  box-shadow: rgba(49, 49, 49, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
 
 .card-button4:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

 .card-img5 {
  background-image: url('https://i.ytimg.com/vi/jBcDf4FthB8/maxresdefault.jpg');
  background-position: 51% 12%; 
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
}

 .card-button5 {
  border: 1px solid #ffffff;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
  background-color: white;
}

 .card-img5:hover {
  transform: translateY(-25%);
  box-shadow: rgba(49, 49, 49, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
 
 .card-button5:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

 .Cards2 {
  display: flex;
  justify-content: space-around;
}

 .text-title1 {
  font-weight: 800;
  font-size: 1em;
  line-height: 1.5;
  color: white;
  text-decoration: line-through 2px solid red;
  margin-left: 7px;
}
 
 .text-title2 {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  color: white;
  background-color: #242424;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  border-radius: 10px;
  margin-right: 15px;
}

.card2 {
  margin-top: 30px;
  width: 200px;
  height: 370px;
  padding: .8em;
  background: #000000;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-img6 {
  background-image: url('https://d1x91p7vw3vuq8.cloudfront.net/itemku-upload/202348/su9bqrajzakopaftfeymb.jpg');
  background-position: 50.5% 11%; 
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
}

 .card-button6 {
  border: 1px solid #ffffff;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
  background-color: white;
}

 .card-img6:hover {
  transform: translateY(-25%);
  box-shadow: rgba(49, 49, 49, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
 
 .card-button6:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

.Skidka {
  margin-top: 40px;
}

.Cards3 {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.card-img7 {
  background-image: url('https://www.vikingdota.com/cdn/shop/files/anti-mage.jpg?v=1721032114');
  background-position: 46% 12%; 
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
}

 .card-button7 {
  border: 1px solid #ffffff;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
  background-color: white;
}

 .card-img7:hover {
  transform: translateY(-25%);
  box-shadow: rgba(49, 49, 49, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
 
 .card-button7:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}


.card-img8 {
  background-image: url('https://community.akamai.steamstatic.com/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KW1Zwwo4NUX4oFJZEHLbXK9QlSPcU7plRUQ3PTRuiswcrBUhJ9KjtUt7akPQJy0szEcC9F6ZKzx9HSxaPxZr7Uwz8JsZNziL6SrdrzjQWyrkVsMTqmLNXEJgc7YVuD5BHglho4UbDm/330x192');
  background-position: 46% 56%; 
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
}

 .card-button8 {
  border: 1px solid #ffffff;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
  background-color: white;
}

 .card-img8:hover {
  transform: translateY(-25%);
  box-shadow: rgba(49, 49, 49, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
 
 .card-button8:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

.wrapper{
  margin:  0 10%;
}